<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="styles.css">
  </head>

  <body>


<a href="/tasks">Task Index</a>

<h1><%= @task.title %></h1>

<p><%= @task.description %></p>

</body>
</html>
